Source: deepin-screensaver
Section: devel
Priority: optional
Maintainer: Ananta Mishra <mishraananta2017@gmail.com>
XSBC-Original-Maintainer: Deepin Packages Builder <packages@deepin.com>
Build-Depends:
 debhelper-compat (=13),
 libqt5x11extras5-dev,
 libx11-dev,
 libxext-dev,
 libxss-dev,
 pkg-config,
 qml-module-qt-labs-platform,
 qtbase5-dev,
 qtdeclarative5-dev,
Standards-Version: 4.5.1

Package: deepin-screensaver
Architecture: any
Depends:
 deepin-screensaver-xscreensaver-data,
 ${misc:Depends},
 ${shlibs:Depends},
Description: Screensaver Tool
 Deepin screensaver viewer and tools.

Package: deepin-screensaver-xscreensaver-data
Architecture: any
Depends:
 qml-module-qt-labs-platform,
 xscreensaver-data-extra,
 xscreensaver-gl-extra,
Description: Screensaver data
 xscreensaver extra with the Deepin Screensaver.
